<div class="flip flip-vertical sneakers-item">
  <div class="front">
    <img src="{{imageUrl}}" alt="{{brand}}" />
  </div>
  <div class="back">
    <h3>{{brand}}</h3>
    <p>Price: ${{price}}</p>
    <a href="/sneakers/{{id}}/details" class="btn">View Details</a>
  </div>
</div>